/vendor/
/composer.lock
/nbproject/private/
/debian/.debhelper/
/debian/php-vitexsoftware-ease-fluentpdo/
/debian/debhelper-build-stamp
/debian/php-vitexsoftware-ease-fluentpdo.debhelper.log
/debian/php-vitexsoftware-ease-fluentpdo.substvars
debian/php-vitexsoftware-ease-fluentpdo.substvars
docs
/debian/php-vitexsofware-ease-fluentpdo.substvars
/debian/php-vitexsoftware-ease-fluentpdo-doc.debhelper.log
/debian/php-vitexsoftware-ease-fluentpdo-doc.substvars
/debian/php-vitexsotfware-ease-fluentpdo.substvars
/debian/php-vitexsotfware-ease-fluentpdo.debhelper.log
/debian/files
.phpdoc

/debian/php-vitexsoftware-ease-fluentpdo-doc/
/debian/php-vitexsoftware-ease-fluentpdo-dev/
/.phpunit.result.cache

tests/test.sqlite-shm 
tests/test.sqlite-wal
debian/php-vitexsoftware-ease-fluentpdo-dev.debhelper.log
debian/php-vitexsoftware-ease-fluentpdo-dev.substvars
