<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="/usr/share/php/EaseHtml/Test/Bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" cacheResult="false">
  <coverage/>
  <testsuites>
    <testsuite name="all">
      <directory>/usr/share/php/EaseFluentPDO/Test/</directory>
    </testsuite>
  </testsuites>
</phpunit>
