Source: php-vitexsoftware-ease-fluentpdo
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Build-Depends:
 debhelper-compat (= 13),
 pkg-php-tools (>= 1.7~),
 phpab,
 composer,
 moreutils,
 jq,
 phpdocumentor,
Standards-Version: 4.7.0
Homepage: https://github.com/VitexSoftware/php-ease-fluentpdo
Rules-Requires-Root: no

Package: php-vitexsoftware-ease-fluentpdo
Depends: ${misc:Depends},php-vitexsoftware-ease-core (>= 1.40),php-vitexsoftware-fluentpdo
Architecture: all
Conflicts: ease-framework
Replaces: php-ease-fluentpdo
Section: web
Priority: optional
Description: Database support for EasePHP Framework
 FluentPDO adapter for ease framework with ORM and Enginge classes

Package: php-vitexsoftware-ease-fluentpdo-doc
Depends: ${misc:Depends}
Architecture: all
Suggests: www-browser
Section: doc
Priority: optional
Description: Ease FluentPDO Documentation
 Ease FluentPDO apigen documentation.

#Package: php-vitexsoftware-ease-fluentpdo-dev
#Depends: ${misc:Depends}, php-vitexsoftware-ease-fluentpdo, phpunit, php-pdo-sqlite
#Architecture: all
#Section: doc
#Priority: optional
#Description: Ease FluentPDO Development files
# Ease FluentPDO phpunit test files
