Source: php-vitexsoftware-ease-fluentpdo
Build-Depends: debhelper (>= 7.0.50~), composer, phpdocumentor
Section: web
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-ease-fluentpdo

Package: php-vitexsoftware-ease-fluentpdo
Depends: ${misc:Depends},php-vitexsoftware-ease-core (>= 1.40),php-pdo, php-pdo-mysql|php-pdo-pgsql|php-pdo-sqlite|php-pdo-sqlserver
Architecture: all
Conflicts: ease-framework
Replaces: php-ease-fluentpdo
Section: web
Priority: optional
Description: Database support for EasePHP Framework
 FluentPDO adapter for ease framework with ORM and Enginge classes

Package: php-vitexsoftware-ease-fluentpdo-doc
Depends: ${misc:Depends}
Architecture: all
Suggests: www-browser
Section: doc
Priority: optional
Description: Ease FluentPDO Documentation
 Ease FluentPDO apigen documentation.

#Package: php-vitexsoftware-ease-fluentpdo-dev
#Depends: ${misc:Depends}, php-vitexsoftware-ease-fluentpdo, phpunit, php-pdo-sqlite
#Architecture: all
#Section: doc
#Priority: optional
#Description: Ease FluentPDO Development files
# Ease FluentPDO phpunit test files
