#!/usr/bin/make -f

#dpkg-parsechangelog | sed -n 's/^Version: //p'

%:
	dh $@

override_dh_clean:
	rm -rf debian/test/vendor
	dh_clean


#override_dh_test:
#	composer --working-dir=debian/test update
#	phpunit --bootstrap debian/test/Bootstrap.php --configuration phpunit.xml tests/src/
#	dh_test

override_dh_install:
	jq '.address = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'`'"' debian/composer.json |sponge debian/composer.json
	dh_install
